@tailwind base;
@tailwind components;
@tailwind utilities;

.mystyle {
  border-radius: 40px;
  background: #e0e0e0;
  box-shadow: 6px 6px 11px #9f9f9f, -6px -6px 11px #ffffff;
}
.navbar {
  background: #e0e0e0;
  box-shadow: 6px 6px 11px #9f9f9f, -6px -6px 11px #ffffff;
 
}
.banner {
  background: #e0e0e0;
  box-shadow: 6px 6px 11px #9f9f9f, -6px -6px 11px #ffffff;
}

.nav-link {
  cursor: pointer;
  border-radius: 40px;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
}
.nav-link:hover {
  border-radius: 40px;
  background: #e0e0e0;
  box-shadow: 6px 6px 12px #9f9f9f, -6px -6px 12px #ffffff;
}
.btn-primary {
  border-radius: 57px;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}
.btn-primary:hover {
  box-shadow: 6px 6px 6px #9f9f9f, -6px -6px 12px #ffffff;
}
.my-text {
  color: #01070e;
  text-shadow: 2px 6px 7px #86898d, -6px -6px 11px #ffffff;
}
.my-img {
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 6px 6px 11px #9f9f9f, -6px -6px 11px #ffffff;
}

input, textarea {
  padding: 1rem;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: inset 7px 7px 14px #b5b5b5, inset -7px -7px 14px #ffffff;
}

.card-img{
  overflow: hidden;
  cursor: pointer;
 

}
.card-img img{
  object-fit: cover;
  object-position: top center;
  transition:  all 3s ease-in-out;
  height: 100%;
  width: 100%;
}
.card-img:hover img{
  object-position: bottom center;
}
